<div class="container">
  <div class="row">
    <div class="col-8">
      <p>welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript
        welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript.
        welcome to the digital home of me, aidai – a person trying to study javascript
      </p>
    </div>
    <div class="col-4">
      <img src="assets/44.png">
    </div>
  </div>
</div>

