<nav class="navbar navbar-light bg-light navbar-expand">
  <a class="navbar-brand" routerLink="/">Aidai Almaz kyzy</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="nav-link" (click)="onNavClick('/')" >Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/about-us" class="nav-link" (click)="onNavClick('about-us')" >About us</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/contact-us" class="nav-link" (click)="onNavClick('contact-us')">Contact us</a>
      </li>
    </ul>
  </div>
</nav>

