<div class="container">
  <div class="row">
    <div class="col">
      <p>to get in touch, send me an email or complete the form. i look forward to hearing from you.
        due to the number of emails i receive i unfortunately can’t reply to all.
        thank you for taking the time to reach out.
        but if you are lucky I might call you back:</p>
      <button class="btn btn-primary" (click)="openLeaveNumberModal()">Leave a phone number</button>
    </div>
    <div class="col">
      <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="last-name">Last Name</label>
                <input
                  type="text"
                  name="last-name"
                  id="last-name"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea
                  name="message"
                  id="message"
                  class="form-control"
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary" (click)="thankYou()">Submit</button>
            </form>
    </div>
  </div>
</div>

<app-modal
  [isOpen]="isModalOpen"
  (close)="closeLeaveNumberModal()"
  title="Please insert your phone number">
  <div class="modal-body">
    <div class="form-group">
      <input
        type="number"
        name="phone-number"
        id="phone-number"
        class="form-control"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="closeLeaveNumberModal()">Cancel</button>
    <button class="btn btn-success" (click)="thankYou()">Submit</button>
  </div>
</app-modal>

<app-modal
  [isOpen]="isTYModalOpen"
  (close)="closeTYModal()"
  title="Thank you. I will get back to you. Maybe.">
  <div class="modal-body">
  </div>
</app-modal>
