<header>
  <app-tootlbar (navigate)="onNavigate($event)"></app-tootlbar>
</header>
<main class="container-fluid">
  <router-outlet></router-outlet>
<!--  <app-home *ngIf="location === 'home'"></app-home>-->
<!--  <app-about-us *ngIf="location === 'about-us'"></app-about-us>-->
<!--  <app-contacts *ngIf="location === 'contact-us'"></app-contacts>-->
</main>
