<div class="modal fade show"
     [ngStyle]="{display: isOpen ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
        <button type="button" class="close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
<div class="modal-backdrop show"
     [ngStyle]="{display: isOpen ? 'block' : 'none'}"></div>

