<div class="container">
  <br/>
  <div class="row">
    <div class="col-sm col-4" (click)="goHome()">Home
        <img src="assets/11.png">
    </div>
    <div class="col-sm col-4" (click)="goToAboutUs()">About Us
      <img src="assets/22.png">
    </div>
    <div class="col-sm col-4" (click)="goToContactUs()">Contact Us
      <img src="assets/33.png">
    </div>
  </div>
</div>
